black
black[jupyter]
build
bump-my-version
codespell
wheel
flake8
twine
click
pre-commit
pytest
pytest-runner
pytest-cov

ipykernel
livereload
nbconvert
nbformat
sphinx
watchdog
pygments
pymdown-extensions